{{# alerts }}
  <div class="alert {{ type }}" data-dismiss="alert">
    {{^ hide_close }}
      <a href="#" class="close">x</a>
    {{/ hide_close }}
    <center>{{{ message }}}</center>
  </div>
{{/ alerts }}
